<nav class="navbar navbar-expand-lg bg-light">
    <div class="navbar" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/offers/alloffers">Список всех предложений</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/brands/allbrands">Список доступных брендов</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/models/allmodels">Модели автомобилей</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/brands/create">Добавить бренд</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/models/create">Добавить модель</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/offers/create">Добавить предложение</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/users/allusers">All Users</a>
            </li>
        </ul>
    </div>
</nav>
