<!--<!DOCTYPE html>-->
<!--<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="~{fragments/head}"/>-->
<!--<body class="d-flex flex-column h-100">-->
<!--<div th:replace="~{fragments/navbar}">Navbar</div>-->
<!--<div class="flex-shrink-0">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-2"></div>-->
<!--            <div class="jumbotron text-center rounded col-md-12 align-self-center pt-5">-->
<!--                <div class="justify-content-center">-->
<!--                    <h1>Add Offer</h1>-->
<!--                </div>-->
<!--                <form th:action="@{/offers/add}"-->
<!--                      th:method="post"-->
<!--                      th:object="${offerDTO}"-->
<!--                      class="m-md-auto w-50 pb-3">-->

<!--                    <div class="mb-3">-->
<!--                        <label class="form-label" for="engine">Engine</label>-->
<!--                        <input th:field="*{engine}"-->
<!--                               th:errorclass="is-invalid"-->
<!--                               type="text" class="form-control text-center"-->
<!--                               id="engine" aria-describedby="engine" name="engine"/>-->
<!--                        <small th:if="${#fields.hasErrors('engine')}" th:errors="*{engine}" class="text-danger">Error message</small>-->
<!--                    </div>-->

<!--                    <div class="mb-3">-->
<!--                        <label class="form-label" for="modelName">Model Name</label>-->
<!--                        <input th:field="*{model.name}"-->
<!--                               th:errorclass="is-invalid"-->
<!--                               type="text" class="form-control text-center"-->
<!--                               id="modelName" aria-describedby="modelName" name="modelName"/>-->
<!--                        <small th:if="${#fields.hasErrors('model.name')}" th:errors="*{model.name}" class="text-danger">Error message</small>-->
<!--                    </div>-->

<!--                    <div class="mb-3">-->
<!--                        <label class="form-label" for="brandName">Brand Name</label>-->
<!--                        <input th:field="*{model.brand.name}"-->
<!--                               th:errorclass="is-invalid"-->
<!--                               type="text" class="form-control text-center"-->
<!--                               id="brandName" aria-describedby="brandName" name="brandName"/>-->
<!--                        <small th:if="${#fields.hasErrors('model.brand.name')}" th:errors="*{model.brand.name}" class="text-danger">Error message</small>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Добавьте другие поля предложения и связанных классов &ndash;&gt;-->

<!--                    <button type="submit" class="btn btn-secondary">Add Offer</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--<footer th:replace="~{fragments/footer}"/>-->
<!--</html>-->
